h1 {
  text-align: center;
}

.card {
  display: block;
  justify-content: center;
  align-items: center;
}

form {
  align-items: center;
}
input {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  font-size: 16px;
  color: #222;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.number {
  width: 250px;
}
.cvc {
  width: 100px;
}
.btn {
  width: 100%;

  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  padding: 10px;
}
